.program-card{
    width: 20%;
    min-height: 26rem;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    background-color: white;
}

.image-box{
    width: 100%;
    height: 12rem;
    margin-bottom: 0.5rem;
}

.heading{
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

@media only screen and (max-width : 1250px){
    .program-card{
        width: 30%;
    }
}

@media only screen and (max-width : 1105px){
    .program-card{
        width: 33%;
    }
}

@media only screen and (max-width : 1024px){
    .program-card{
        width: 40%;
        font-size: 1rem;
    }

    .heading{
        font-size: 1rem;
    }
}

@media only screen and (max-width : 700px){
    .program-card{
        width: 100%;
        margin: 1rem auto;
        font-size: 0.8rem;
    }

    .heading{
        font-size: 1rem;
    }
}